.App {
  color: #fff;
  height: auto;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vh;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 7vh;
  
}

.input-group {
  margin: 10px 2vh;
}

.input-group label {
  font-size: 18px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.input-group button {
  width: 100%;
  margin-top: 17px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}

button:hover {
  background-color: #0056b3;
}

.content-container {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  height: 75vh;
}

/* List Container */
.list-container {
  flex: 1;
  background-color: #444;
  padding: 20px;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: stretch;
}

.list-container h2 {
  font-size: 24px;
}

.list-container ul {
  list-style-type: none;
  padding: 0;
}

.list-container li {

  font-size: 18px;
  cursor: pointer;
  margin: 10px 0; 
  padding: 15px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #555;
}

.list-container li:hover {
  background-color: #666;
}

.map-container {
  flex: 2;
  background-color: #111;
  padding: 20px;
  border-radius: 5px;
}

.map-container h2 {
  font-size: 24px;
}