.App {
  color: #fff;
  height: auto;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vh;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 7vh;
  
}

.input-group {
  margin: 10px 2vh;
}

.input-group label {
  font-size: 18px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.input-group button {
  width: 100%;
  margin-top: 17px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}

button:hover {
  background-color: #0056b3;
}